# DB Setups
DB_HOST=localhost
DB_USER=
DB_PASS=
DB_NAME=movie_recommender
DB_PORT=5432


SCRAPER_BASE_URL=<>
SCRAPER_USERNAME_PAGE=<>
SCRAPER_RATINGS_PAGE=<>
SCRAPER_MOVIES_PAGE=<>

ANTHROPIC_API_KEY=<>
