version: 2.1

jobs:
  run-tests:
    machine:
      image: ubuntu-2204:current

    steps:
      - checkout

      - run:
          name: "Install Poetry"
          command: curl -sSL https://install.python-poetry.org | python3 -
      - run:
          name: "Install PostgreSQL development headers"
          command: |
            sudo apt-get update
            sudo apt-get install -y libpq-dev python3-dev gcc
      - run:
            name: "Install dependencies"
            command: |
              export PATH="$HOME/.local/bin:$PATH"
              poetry install
      - run:
          name: "Install Linting"
          command: curl -LsSf https://astral.sh/ruff/install.sh | sh
      - run:
            name: "Linting"
            command: |
              export PATH="$HOME/.local/bin:$PATH"
              poetry run ruff format src tests
      - run:
          name: "Testing"
          command: |
            export PATH="$HOME/.local/bin:$PATH"
            poetry run pytest tests

workflows:
  run-tests-workflow: # This is the name of the workflow, feel free to change it to better match your workflow.
    jobs:
      - run-tests
