# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/jobs-steps/#jobs-overview & https://circleci.com/docs/configuration-reference/#jobs
jobs:
  run-tests:
    docker:
      - image: cimg/base:current

    steps:
      - checkout
      - run:
          name: "Install Poetry"
          command: curl -sSL https://install.python-poetry.org | python3 -
      - run:
          name: "Install PostgreSQL development headers"
          command: |
            sudo apt-get update
            sudo apt-get install -y libpq-dev python3-dev gcc
      - run:
            name: "Install dependencies"
            command: poetry install
      - run:
          name: "Install Linting"
          command: curl -LsSf https://astral.sh/ruff/install.sh | sh
      - run:
            name: "Linting"
            command: poetry run ruff format src tests
      - run:
          name: "Testing"
          command: poetry run pytest tests

workflows:
  run-tests-workflow: # This is the name of the workflow, feel free to change it to better match your workflow.
    jobs:
      - run-tests
